attrs==19.3.0
bleach==3.1.5
certifi==2020.4.5.1
chardet==3.0.4
docutils==0.16
greenlet==0.4.15
# Editable Git install with no remote (hlre==0.1.0)
-e /Users/zach/src/hlre
idna==2.9
importlib-metadata==1.6.0
keyring==21.2.1
more-itertools==8.3.0
msgpack==1.0.0
neovim==0.3.1
packaging==20.3
pkginfo==1.5.0.1
pluggy==0.13.1
prompt-toolkit==3.0.5
py==1.8.1
Pygments==2.6.1
pynvim==0.4.1
pyparsing==2.4.7
pytest==5.4.2
readme-renderer==26.0
requests==2.23.0
requests-toolbelt==0.9.1
six==1.14.0
tqdm==4.46.0
twine==3.1.1
urllib3==1.26.5
wcwidth==0.1.9
webencodings==0.5.1
zipp==3.1.0
